django
gunicorn
django-heroku
pandas
sklearn
numpy
matplotlib
apyori
requests
bootstrap4
cycler
django-bootstrap4
joblib
kiwisolver
pip
pyparsing
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
sklearn
wheel